body {
      font-family: Arial, sans-serif;
      background: #4B2E6A;
      margin: 0;
      padding: 20px;
    }

    .container {
      max-width: 500px;
    }

    .card {
      display: flex;
      align-items: center;
      background: #e3f1ff;
      margin: 15px 0;
      padding: 12px;
    }

    .card img {
      width: 85px;
      height: 85px;
      object-fit: cover;
      margin-right: 15px;
    }

    .card-content {
      flex: 1;
    }

    .card h3 {
      margin: 0;
      font-size: 1.1rem;
      text-transform: uppercase;
    }

    .card p {
      font-size: 0.9rem;
      color: #444;
      margin: 4px 0;
    }

    .price{
        margin-top: 15px;
    }

    .price p{
      font-weight: bold;
      font-size: 1rem;
      margin: 4px 0;
      display: block;
      text-align: center;
      margin-bottom: 15px;
    }

    .btn {
      display: inline-block;
      background: #b693c2;
      color: blue;
      padding: 6px 12px;
      font-size: 0.85rem;
      border: none;
      cursor: pointer;
      text-decoration: none;
    }

    .btn:hover {
      background: #8d67a7;
    }